.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  max-width: 950px;
  display: flex;
  gap: 20px;
}

.search {
  flex: 1;
  background-color: #febb02;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.searchTitle {
  margin-bottom: 10px;
  font-size: 20px;
  color: #555;
}

.searchItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.searchItem > label {
  font-size: 12px;
  font-weight: 500;
}

.searchItem > input {
  height: 30px;
  border: none;
  padding: 5px;
}

.searchItem > span {
  height: 30px;
  padding: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchPupilOptions {
  padding: 10px;
}

.searchOptionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}

.searchOptionInput {
  width: 50px;
}

.search > button {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.results {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* @media (min-width: 1025px) {
  .wrapper {
    max-width: 1024px;
  }
} */
